<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<!-- Add this line to disable unobtrusive validation -->
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</assemblies>
		</compilation>
		<!-- ... -->
	</system.web>
	<runtime>
		<!-- ... -->
	</runtime>
	<location path="ProductRegistration.aspx">
		<system.web>
			<!-- Add this line to disable unobtrusive validation for this specific page -->
			<pages clientIDMode="AutoID" />
		</system.web>
	</location>

</configuration>